* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle, rgb(58, 61, 58), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 30;
    margin: 2em 2em;
    padding: auto;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .calculator {
    width: 350px;
    height: 100%;
    background: rgb(169, 185, 177);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
  }
  
  output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 50px;
    background: #fff;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-family: 'roboto';
    font-weight: 500;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
      inset -1px -1px 1px rgba(0, 0, 0, 0.3);
  }
  
  .keyboard {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  button {
    margin: 0.1em 0.2em;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'roboto';
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(112, 89, 89, 0.616);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8x;
    padding: 10px;
    align-items: space-between;
  }
  .linkG {
    display: block;
    position: relative;    
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
  }
  .linkIn {
    display: block;
    position: relative;
    margin: 10px;
    padding: 10px;  
    margin-top: 20px;
  }
